$secondary: #516173;

.mapbox-header_container {
  margin-left: 2em;
}

.mapbox-header {
  margin-bottom: 0;
}

.mapbox-header_description {
  color: $secondary;
  margin-top: 0;
}

.crash-icon {
  color: white;
  height: "75px";
  width: "75px";
}
